﻿@using IRClass.EmployeeOnboarding.ViewModels

@model List<Education>

@if(Model.Count == 0)
{
    Model.Add(new Education());
}

<form id="formEducation" method="post">

    <div id="divEducation" class="table-editable">
        <table class="table table-bordered table-responsive-lg table-striped text-center" id="tblEducation">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].QualificationName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Specialisation)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Institute)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].StartDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].EndDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].CgpaPercent)
                    </th>
                    <th scope="col">                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.QualificationName, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.Specialisation, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.Institute, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.CgpaPercent, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            <div style='display:flex;'>
                                <div>
                                    <i type="button" class="fas fa-minus-circle fa-2x fa-fw" style="color:#1f91b1" href="#" onclick="deleteRow(this);"></i>
                                </div>
                                <div onclick="addRow()">
                                    <i type="button" class="fas fa-plus-circle fa-2x fa-fw" style="color:#1f91b1" href="#"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<script type="text/javascript">

    function deleteRow(btnDel) {
        if (typeof (btnDel) == "object") {
            $(btnDel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function addRow() {
      $("#tblEducation tr:last").clone().find('input').val('').end().insertAfter("#tblEducation tr:last");
    }

</script>