﻿@using IRClass.EmployeeOnboarding.ViewModels

@model Employee
<form asp-action="General" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="MaidenName" class="control-label"></label>
                <input asp-for="MaidenName" class="form-control" />
                <span asp-validation-for="MaidenName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(Gender))), "Select", new
                { @class = "form-control" })
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                @Html.DropDownList("Marital Status", new SelectList(Enum.GetValues(typeof(MaritalStatus))), "Select", new
                { @class = "form-control" })
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DateOfJoining" class="control-label"></label>
                <input asp-for="DateOfJoining" class="form-control" />
                <span asp-validation-for="DateOfJoining" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                @Html.DropDownList("BloodGroup", Html.GetEnumSelectList<BloodGroup>(), "Select", new { @class = "form-control" })
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                @Html.DropDownList("Company", new SelectList(Enum.GetValues(typeof(Company))), "Select", new
                { @class = "form-control" })
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="LandlineNumber" class="control-label"></label>
                <input asp-for="LandlineNumber" class="form-control" />
                <span asp-validation-for="LandlineNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="PanNumber" class="control-label"></label>
                <input asp-for="PanNumber" class="form-control" />
                <span asp-validation-for="PanNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="AadharNumber" class="control-label"></label>
                <input asp-for="AadharNumber" class="form-control" />
                <span asp-validation-for="AadharNumber" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="UanNumber" class="control-label"></label>
                <input asp-for="UanNumber" class="form-control" />
                <span asp-validation-for="UanNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="HasPassport" class="control-label"></label>
                @Html.DropDownList("HasPassport", new SelectList(Enum.GetValues(typeof(Indicator))), "Select", new
                { @class = "form-control" })
                <span asp-validation-for="HasPassport" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="HasDrivingLicense" class="control-label"></label>
                @Html.DropDownList("HasDrivingLicense", new SelectList(Enum.GetValues(typeof(Indicator))), "Select", new
                { @class = "form-control" })
                <span asp-validation-for="HasDrivingLicense" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</form>
