﻿@using IRClass.EmployeeOnboarding.ViewModels

@model ApplicationViewModel
<h4 style="color:steelblue">Welcome to the IRCLASS Employee Onboarding Portal</h4>
<br />
<div class="m-4">
    <div class="accordion" id="generalAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingGeneral">
                <button type="button" class="accordion-button collapsed accordionBtn" data-bs-toggle="collapse" data-bs-target="#collapseGeneral">General Information</button>
            </h2>
            <div id="collapseGeneral" class="accordion-collapse collapse" data-bs-parent="#generalAccordion">
                <div class="card-body">
                    <partial name="GeneralInfoPartial.cshtml" model="@Model.Employee" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="accordion" id="addressAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingAddress">
                <button type="button" class="accordion-button collapsed accordionBtn" data-bs-toggle="collapse" data-bs-target="#collapseAddress">Address Information</button>
            </h2>
            <div id="collapseAddress" class="accordion-collapse collapse" data-bs-parent="#addressAccordion">
                <div class="card-body">
                    <h6 style="color:steelblue">Permanent Address</h6>
                    <partial name="AddressPartial.cshtml" model="@Model.Employee.PermanentAddress" />

                    <h6 style="color:steelblue">Present Address</h6>
                    <div class="form-group">
                        <input type="checkbox" id="checkBox" onclick="autoFilAddress()"> Same as permanent address
                        <partial name="AddressPartial.cshtml" model="@Model.Employee.PresentAddress" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="accordion" id="educationAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEducation">
                <button type="button" class="accordion-button collapsed accordionBtn" data-bs-toggle="collapse" data-bs-target="#collapseEducation">Educational Qualifications</button>
            </h2>
            <div id="collapseEducation" class="accordion-collapse collapse" data-bs-parent="#educationAccordion">
                <div class="card-body">
                    <partial name="EducationPartial.cshtml" model="@Model.EducationalQualifications" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="accordion" id="workExperienceAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingWorkExperience">
                <button type="button" class="accordion-button collapsed accordionBtn" data-bs-toggle="collapse" data-bs-target="#collapseWorkExperience">Previous Work Experiences</button>
            </h2>
            <div id="collapseWorkExperience" class="accordion-collapse collapse" data-bs-parent="#WorkExperienceAccordion">
                <div class="card-body">
                    <partial name="WorkExperiencePartial.cshtml" model="@Model.WorkExperiences" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="accordion" id="medicalHistoryAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingMedicalHistory">
                <button type="button" class="accordion-button collapsed accordionBtn" data-bs-toggle="collapse" data-bs-target="#collapseMedicalHistory">Medical History</button>
            </h2>
            <div id="collapseMedicalHistory" class="accordion-collapse collapse" data-bs-parent="#MedicalHistoryAccordion">
                <div class="card-body">
                    <partial name="MedicalHistoryPartial.cshtml" model="@Model.MedicalHistory" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="accordion" id="languageAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingLanguage">
                <button type="button" class="accordion-button collapsed accordionBtn" data-bs-toggle="collapse" data-bs-target="#collapseLanguage">Proficiency In Languages</button>
            </h2>
            <div id="collapseLanguage" class="accordion-collapse collapse" data-bs-parent="#LanguageAccordion">
                <div class="card-body">
                    <partial name="LanguagesPartial.cshtml" model="@Model.Languages" />
                </div>
            </div>
        </div>
    </div>
</div>
   
