﻿@using IRClass.EmployeeOnboarding.Models

@model List<Language>

@if(Model.Count == 0)
{
    Model.Add(new Language());
}

<form id="formLanguage" method="post">

    <div id="divLanguage" class="table-editable">
        <table class="table table-bordered table-responsive-lg table-striped text-center" id="tblLanguage">
            <thead>
                <tr>
                    <th scope="col" style="width:30%">
                        @Html.DisplayNameFor(model => model[0].Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Read)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Write)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Speak)
                    </th>
                    <th scope="col" style="width:10%">                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.CheckBoxFor(modelItem => item.Read, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.CheckBoxFor(modelItem => item.Write, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.CheckBoxFor(modelItem => item.Speak, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            <div style='display:flex;'>
                                <div>
                                    <i type="button" class="fas fa-minus-circle fa-2x fa-fw" style="color:#1f91b1" href="#" onclick="deleteLanguage(this);"></i>
                                </div>
                                <div onclick="addLanguage()">
                                    <i type="button" class="fas fa-plus-circle fa-2x fa-fw" style="color:#1f91b1" href="#"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<script type="text/javascript">

    function deleteLanguage(btnDel) {
        if (typeof (btnDel) == "object") {
            $(btnDel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function addLanguage() {
      $("#tblLanguage tr:last").clone().find('input').val('').end().insertAfter("#tblLanguage tr:last");
    }

</script>