﻿@using IRClass.EmployeeOnboarding.Models

@model MedicalHistory

<form asp-action="MedicalHistory" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label asp-for="MedicalNotes" class="control-label"></label>
                @Html.EditorFor(m => m.MedicalNotes, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="MedicalNotes" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IsPhysicallyChallenged" class="control-label"></label>
                @Html.CheckBoxFor(model => model.IsPhysicallyChallenged)
                <span asp-validation-for="IsPhysicallyChallenged" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="HadPreviousEmploymentHealthCheckups" class="control-label"></label>
                @Html.CheckBoxFor(model => model.HadPreviousEmploymentHealthCheckups)
                <span asp-validation-for="HadPreviousEmploymentHealthCheckups" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="HandicapNature" class="control-label"></label>
                @Html.EditorFor(m => m.HandicapNature, additionalViewData: new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="HandicapNature" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
