﻿@using IRClass.EmployeeOnboarding.Models

@model List<WorkExperience>

@if(Model.Count == 0)
{
    Model.Add(new WorkExperience());
}

<form id="formWorkExperience" method="post">

    <div id="divWorkExperience" class="table-editable">
        <table class="table table-bordered table-responsive-lg table-striped text-center" id="tblWorkExperience">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Company)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].StartDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].EndDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].Designation)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model[0].IndustryType)
                    </th>
                    <th scope="col">                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.Company, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.Designation, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            @Html.EditorFor(modelItem => item.IndustryType, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td scope="row">
                            <div style='display:flex;'>
                                <div>
                                    <i type="button" class="fas fa-minus-circle fa-2x fa-fw" style="color:#1f91b1" href="#" onclick="deleteWorkExperience(this);"></i>
                                </div>
                                <div onclick="addWorkExperience()">
                                    <i type="button" class="fas fa-plus-circle fa-2x fa-fw" style="color:#1f91b1" href="#"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<script type="text/javascript">

    function deleteWorkExperience(btnDel) {
        if (typeof (btnDel) == "object") {
            $(btnDel).closest("tr").remove();
        } else {
            return false;
        }
    }

    function addWorkExperience() {
      $("#tblWorkExperience tr:last").clone().find('input').val('').end().insertAfter("#tblWorkExperience tr:last");
    }

</script>